{% extends 'base.html.twig' %}

{% block title %}Hello JavascriptController!{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{asset("styles/morpion.css")}}">
{% endblock %}

{% block javascripts %}

    <script src="{{asset("script/morpion.js")}}" defer></script>
{% endblock %}


{% block body %}
        <h1>Tic Tac Toe</h1>
        <!--Plateau-->
        <section id="jeu">
            <!--Chaque case à son index-->
            <div data-index="0" class="case"></div>
            <div data-index="1" class="case"></div>
            <div data-index="2" class="case"></div>
            <div data-index="3" class="case"></div>
            <div data-index="4" class="case"></div>
            <div data-index="5" class="case"></div>
            <div data-index="6" class="case"></div>
            <div data-index="7" class="case"></div>
            <div data-index="8" class="case"></div>
        </section>
        <!--Message de victoire et bouton Recommencer-->
        <h2></h2>
        <button id="recommencer">Recommencer</button>

{% endblock %}
