{% extends 'base.html.twig' %}

{% block title %}Hello Td2Controller!{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{asset("styles/td2.css")}}">
{% endblock %}

{% block body %}
<div class="GRID1 mt-5">
    <div class="BLOC1">
      <h1>
        Join our community
      </h1>
      <h2 id="vert">
        30-day, hassle-free money back guarantee
      </h2>
      <h4>
        Gain access to our full library of tutorials along with expert code reviews. 
        Perfect for an who are sey developersrious about honing their skills.
      </h4>
    </div>
    <div class="BLOC2">
      <h2>
        Monthly Subscription
      </h2>
      <p>
        <span id="DOLLAR"> &dollar;29 </span><span id="CASH"> per month </span>
      </p> 
      Full access for less than &dollar;1 a day<br>
      <a href="#"><button id="SIGN">Sign Up</button></a>
    </div>
    <div class="BLOC3">
      <h2>
        Why Us
      </h2>
      <p>
        Tutorials by industry experts<br>
        Peer &amp; expert code review<br>
        Coding exercises<br>
        Access to our GitHub repos<br>
        Community forum<br>
        Flashcard decks<br>
        New videos every week<br>
      </p>
    </div>
  </div>      
  <footer>
    <p id="coded">
      Coded by <a href="https://github.com/AsuraMoon">AsuraMoon</a>.
    </p>
  </footer>
{% endblock %}
