body {
    padding-bottom: 3rem;
    background-color: #dadada;
  }

*{

    color: rgb(29, 29, 29)!important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

.bg-perso{
    background-color: sandybrown;
}

img{
    border-radius: 20px;
}

.round{
    border-radius: 100%;
    width: 25%;
}

.link{
    max-width: 35px;
    max-height: 35px;
}

.right{
    text-align: right;
}
